.container {
  /* position header */
  width: 1000px;
  display: block;
  margin: 0 auto 20px;
}

h1 {
  font-size: 46px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
}

h2 {
  font-size: 28px;
  color: #c00;
  margin: 0 0 20px 0;
  padding: 0;
  margin: 0 0 10px;
}

h3 {
  margin: 0 0 10px;
  font-weight: bold;
  color: black;
  font-size: 16px;
  line-height: 1.3em;
}

nav {
  display: block;
  padding: 20px 30px 10px;
  border-bottom: 1px solid #d4cdc1;
  height: 50px;
}

ul {
  float: right;
  list-style-type: none;
 /* padding: 0;*/
 }


ul li {
  /* space links out correctly */
  float: left;
  margin-right: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 1.1em;
}

.logo {
  float: left;
}

.drawing {
  background: url('http://basecamp.com/assets/images/home-sign-up/signup-drawing2.png') no-repeat;
  height: 561px;
  width: 964px;
  border-bottom: 1px solid #d4cdc1;
}

aside {
  float: left;
  width: 170px;
  position: absolute;
  margin-left: 60px;
  margin-top: 50px;
}

.joy {
  background: url('http://basecamp.com/assets/images/home-sign-up/joy.png') 25px 25px no-repeat;
  float: left;
  margin: 70px 0 0 175px;
  width: 393px;
  height: 490px;
  background-size: 375px 465px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.signup {
  float: left;
  border: 1px solid;
  padding: 65px 9px 0;
  margin-left: 10px;
  background: transparent;
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

.signup p {
  margin: 0 30px;
  font-weight: normal;
  font-size: small;
}

.input {
  display: block;
  position: relative;
  text-align: left;
}

form {
  margin-top: 15px;
}

input {
  border: 1px solid #CCC;
  border-top: 1px solid #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: block;
  font-size: 18px;
  height: 25px;
  margin: 0 auto 15px;
  padding: 5px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 300px;
}

input[type="submit"] {
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  height: 42px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #393;
  display: inline;
  width: 150px;
  -webkit-appearance: none;
}

body{
  font-size: 14px;
  line-height: 1.2em;
  color: #000;
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
}