.container {
  /* position header */
  width: 1000px;
  display: block;
  margin: 0 auto 20px;
}

h1 {
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-align: center;
}

nav {
  display: block;
  padding: 20px 30px 10px;
  border-bottom: 1px solid #d4cdc1;
  height: 50px;
}

ul {
  float: right;
  list-style-type: none;
 /* padding: 0;*/
 }


ul li {
  /* space links out correctly */
  float: left;
  margin-right: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 1.1em;
}

.logo {
  float: left;
}

.drawing {
  background: url('http://basecamp.com/assets/images/home-sign-up/signup-drawing2.png') no-repeat;
  height: 561px;
  width: 964px;
  border-bottom: 1px solid #d4cdc1;
}

aside {
  float: left;
  width: 170px;
  position: absolute;
  margin-left: 60px;
  margin-top: 50px;
}

.joy {
  background: url('http://basecamp.com/assets/images/home-sign-up/joy.png') 25px 25px no-repeat;
  float: left;
  margin: 70px 0 0 175px;
  width: 393px;
  height: 490px;
  background-size: 375px 465px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.signup {

}

body{
  /* rules go here */
}